<div class="modal-header" style="background-color: rgb(0, 137, 155);">
  <h2 class="modal-title text-center">New Client</h2>
  <button type="button" class="btn btn-danger" (click)="closeModal()"><span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" style="background-color: rgb(0, 137, 155);">

  <form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="col-md-12">
      <label class="text-white">Skey:</label>
      <input type="text" class="form-control" id="skey" [(ngModel)]="client.skey" name="skey" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label for="business_id" class="text-white">Business ID:</label>
      <input type="text" class="form-control" id="business_id" [(ngModel)]="client.business_id" name="business_id" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label for="email" class="text-white">Email:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="client.email" name="email" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label for="phone" class="text-white">Phone:</label>
      <input type="number" class="form-control" id="phone" [(ngModel)]="client.phone" name="phone" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label for="start_date" class="text-white">Start Date:</label>
      <input type="date" class="form-control" id="start_date" [(ngModel)]="client.start_date" name="start_date" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <label for="end_date" class="text-white">End Date:</label>
      <input type="date" class="form-control" id="end_date" [(ngModel)]="client.end_date" name="end_date" required>
    </div>
  </div>
  </form>
</div>

<div class="modal-footer" style="background-color: rgb(0, 137, 155);">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-primary" (click)="createClient(client)" >Save</button>
</div>



