<table class="table table-sm table-bordered table-striped table-hover">
  <thead>
    <tr style="color: black;" class="text-center">
      <th>Shared Key</th>
      <th>Bussiness ID</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>Data Added</th>
      <th>Actions</th>

    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let clients of client" class="text-center">
      <td>{{clients.skey}}</td>
      <td>{{clients.business_id}}</td>
      <td>{{clients.email}}</td>
      <td>{{clients.phone}}</td>
      <td>{{clients.start_date}}</td>
      <td>
        <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

  </tbody>

</table>
