<div class="container">
  <div class="card">
    <div class="card-header">
      <button class="btn btn-info" (click)="openNewClients()"><i style="color: black;" class="fa fa-plus"></i>&nbsp;New</button>
      <!--<button class="btn btn-success"><i style="color: black;" class="fa fa-file-text"></i>&nbsp;Export</button>-->
      <button type="button" class="btn btn-success" (click)="exportToCSV()"><i style="color: black;" class="fa fa-file-text"></i>&nbsp;Export to CSV</button>
    </div>
    <div class="card-body">
      <br>
      <h3 style="color: #0080FF;  text-align: left;">Client List</h3>
      <app-list></app-list>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
